DISCORD_TOKEN=Discord Bot Token
TOPGG_TOKEN=Top.gg Token
apiKey=API Token
WEBHOOKURL=Guild Create/Delete Logs
EVENT_HANDLER_AUTHORIZATION=secertkey
REST_AUTHORIZATION=secertkey
GATEWAY_AUTHORIZATION=zxscaqweazdz
INFLUX_ORG=Influx Org
INFLUX_BUCKET=Aeona
INFLUX_TOKEN=Influx Token
INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
VERSION=0.1.0
MONGO_CONNECTION=Mongo DB URL
BOTPREFIX=+
REST_SOCKET_PATH=/restAeona
EVENT_SOCKET_PATH=/eventsAeona