<footer class="footer p-10 mt-20 glass2 text-base-content ">
  <div class="no-prose">
    <img width="50" height="50" src="https://www.aeona.xyz/logo.png" />
    <p> Aeona the only discord bot you will ever need!</p>
  </div>
  <div>
    <span class="footer-title">Bot</span>
    <a class="link link-hover" href="/dashboard">Dashboard</a>
    <a class="link link-hover" href="/invite" >Invite</a>
    <a class="link link-hover" href="/support">Support</a>
    <a class="link link-hover" href="/premium">Premium</a>
  </div>
  <div>
    <span class="footer-title">Other</span>
    <a class="link link-hover" href="/faq">FAQ</a>
    <a class="link link-hover" href="/contact">Contact</a>
    <a class="link link-hover" href="/report">Report</a>
    <a class="link link-hover" href="/variables">Variables</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover" href="/policy">Terms of use</a>
    <a class="link link-hover" href="/policy">Privacy policy</a>
    <a class="link link-hover" href="/policy">Cookie policy</a>
  </div>
</footer>
</acticle>
</div>

<script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>

</body>

</html>