<footer class="footer p-15 mt-20 glass2 text-base-content ">
  <div class="no-prose">
    <img width="50" height="50" src="https://www.aeona.xyz/logo.png" class="rounded-full m-0"/>
    <h3 class="mt-3"> Aeona the only discord bot you will ever need!</h3 >
  </div>
  <div>
    <span class="footer-title">Bot</span>
    <a class="link link-hover" href="/dashboard">Dashboard</a>
    <a class="link link-hover" href="/invite" >Invite</a>
    <a class="link link-hover" href="/support">Support</a>
    <a class="link link-hover" href="/premium">Premium</a>
  </div>
  <div>
    <span class="footer-title">Other</span>
    <a class="link link-hover" href="/faq">FAQ</a>
    <a class="link link-hover" href="/contact">Contact</a>
    <a class="link link-hover" href="/report">Report</a>
    <a class="link link-hover" href="/variables">Variables</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover" href="/policy">Terms of use</a>
    <a class="link link-hover" href="/policy">Privacy policy</a>
    <a class="link link-hover" href="/policy">Cookie policy</a>
  </div>
</footer>
</acticle>
</div>

<script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  let crate = new Crate({
    server: '942062344840822824',
    location: ['bottom', 'right'],
    notifications: true,
    indicator: true,
  });

  crate.notify(" ** Ask for support or chat on our server **");
</script>
</body>

</html>