---
description: Screen your servers from unknown automated bots.
---

# 🥸 Verification

### 1. Enabling

To enable this run `/setup setverify True <channel> <role>` where the channel is the channel you which will be visible to users on joining.\
\
While the role is the role which will be given if the user is successfully verified.

<figure><img src="https://media.discordapp.net/attachments/1045308746940825672/1062396152537952316/image.png" alt=""><figcaption></figcaption></figure>

### 2. Modifying the look.

To edit the embed run `/embed editembed channel messageid`.

Here _channel_ is the channel in which the embed you wish to modify is there. While _message id_ is the id of the message with the embed. \
Example: `/embed editembed #verify 1061072341406330980`

<figure><img src="https://media.discordapp.net/attachments/1045308746940825672/1062396526036521060/captcha.jpeg" alt=""><figcaption><p>An example captcha.<br>The answer is WFZVOP</p></figcaption></figure>

