<%- include("./partials/head", { options, title: "Aeona | Buy Premium" }) %>
  <div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="avatar animate-infinite animate-slower animate-pulse">
        <div class="mask max-w-sm mask-squircle shadow-2xl ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
          <img src="/logo.png" class="!m-0" />
        </div>
      </div>

      <div>
        <h1 class="mb-5 text-5xl font-bold text-secondary text-hover hover:text-accent">
          Aeona Premium
        </h1>
        <h3 class="mb-5">
          Aeona Premium is for
          <span class="font-bold text-secondary hover:text-accent">$2.99</span>.
        </h3>
        <p class="mb-5">Support me by using the link below.</p>
        <a class="btn btn-secondary hover:btn-accent" href="https://www.patreon.com/aeonicdiscord">Buy Now</a>
      </div>
    </div>
  </div>
  <div class="max-w-2xl mx-auto">
    <h2 class="mb-5">Aeona Premium Features</h2>
    • Removes all Aeonic Development Branding <br />
    • Access to beta features &amp; news<br />
    • Premium Support<br />
    • <strong>Hoisted Role</strong><br />
    • <strong>No upvote needed</strong><br />
    • You no longer have to vote to use +imagine<br />
    • Disable A.I NSFW filter<br />
    • <strong>Unlocks A.I Auto Mod (Coming soon)</strong><br />
    • Ability to setup <strong>chatbot</strong> in up to 8 channels.<br />
    • Ability to setup <strong>starboard</strong> in up to 8 channels.<br />
    • Ability to setup <strong>boosting and unboosting messages</strong> in up to 8 channels.<br />
    • Ability to setup up to 8 <strong>welcome systems</strong>.<br />
    • Ability to setup up to 8 leave systems</strong>.<br />
    • Ability to setup up to 8 level messaging systems</strong>.<br />
    • Ability to setup counting</strong> in up to 8 channels.<br />
    • Ability to setup guess the number</strong> in up to 8 channels.<br />
    • Ability to setup <strong>guess the word</strong> in up to 8 channels.

    <p class="mb-5">So what are you waiting for?</p>
    <a class="btn btn-secondary hover:btn-accent" href="https://www.patreon.com/aeonicdiscord">Buy Now</a>
  </div>
  <%- include("./partials/footer") %>