<%- include("./partials/head", { options, title: options.name+" | Best Multipurpose AI Chatbot For Discord" }) %>
    <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="avatar animate-infinite animate-slower animate-pulse">
                <div
                    class="mask max-w-sm mask-squircle shadow-2xl ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
                    <img src="/logo.webp" class="!m-0" />
                </div>
            </div>

            <div>
                <h1 class="mb-5 text-5xl font-bold text-secondary text-hover hover:text-accent">
                    Aeona Commands
                </h1>
                <h3 class="mb-5">
                    Commands that are popular with the community and are recommended by the Dev Team for all users.
                </h3>

            </div>


            <div class="mx-auto mb-5">

                • <code>/setup chatbot</code> Use this command to get started with the chatbot.<br />
                • <code>/image imagine</code> Get a AI generated image of your choice. With loads of custom
                styles.<br />
                • <code>/story generate</code> Create a beautiful story on any topic with AI.<br />
                • <code>/image quote</code> Create a beautiful story on any topic with AI.<br />
                • <code>/games wordle</code> Enjoy a quick game of wordle<br />
                • <code>/games flood</code> A cool and unique game with a global leaderboard<br />
                • <code>/games hangman</code> Enjoy a fun game of hangman<br />

                <p class="mb-5">For more see</p>
                <a class="btn btn-secondary hover:btn-accent" href="https://docs.aeonabot.xyz">Here</a>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>