</div>
<div class="footer  mt-10 p-10  text-neutral-content">
    <div>
        <div class="avatar " style="height:50px;width:50%; ">
            <div class=" rounded-xl">
                <img src="<%= options.url %>/logo.webp" class="!m-0 " />
            </div>
        </div>
        <p>
            <%= options.name %><br>Creating an new Age of Discord Bots.
        </p>
    </div>

    <div>
        <span class="footer-title">Main Links</span>
        <a class="link link-hover" href="/support">Support</a>
        <a class="link link-hover" href="/invite">Invite</a>
        <a class="link link-hover" href="/premium">Premium</a>
    </div>

    <div>
        <span class="footer-title">Legal</span>
        <a class="link link-hover" href="/privacy-policy">Terms of use</a>
        <a class="link link-hover" href="/privacy-policy">Privacy policy</a>
        <a class="link link-hover" href="/privacy-policy">Cookie policy</a>
    </div>

</div>
</div>
</article>
</body>

</html>