<%- include("./partials/head", { arc, bot, user, path, description, title: "Aeona - FAQ" , url, image }) %>
<div class="max-w-lg mx-auto">
<h1>  Aeona - FAQ</h1>
<details>
    <summary>
      How do I change the bot Prefix?
      <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
      </svg>
      <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
      </svg>
    </summary>
    <p>You can change Aeona's default Prefix with <code
        style="color: rebeccapurple">+setPrefix 	&lt;new Prefix&gt;</code> or by heading to the dashboard's main
      settings page.</p>
  </details>

  <details>

    <summary>
      How do I invite Aeona to my Server?
      <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
      </svg>
      <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
      </svg>
    </summary>
    <p>Simply visit <a href="https://invite.Aeona.xyz">https://Aeona.xyz</a> in your browser, then authorize the
      application.</p>
  </details>

  <details>
    <summary>
      How do I use the embed Builder?
      <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
      </svg>
      <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
      </svg>
    </summary>
    <p>First, simply fill out the embed that you want, then press on the send button which is located at the bottom
      right of the page. Once clicked, you will have the option of sending it to a channel of your choice, to save it as
      a custom command, or send it as a webhook.</p>
  </details>
</div>

<%- include("./partials/footer") %>