<%- include("./partials/head", { arc, bot, user, path, description, title: "Aeona - premium" , url, image }) %>
<div class="mt-15">
  <img src="http://<%= hostname %>/logo.png" class="max-w-xs rounded-full shadow-2xl animate__animated  animate__infinite animate__pulse animate__slow mx-auto" />
  <div class="text-center">
    <h1 class="text-5xl font-bold text-white transition  ease-in duration-300 ">Aeona Premium</h1>

    <h2 class="py-6 text-white transition   ease-in duration-300">Power up your servers to new heights with Aeona Premium</h2>

    <h3 class="text-white transition   ease-in duration-300"> at just 2.99$/month</h3>
    <br>
    <a href="https://www.patreon.com/aeonapremium" class="no-prose no-underline link link-hover ">
      <button class="btn btn-secondary ease-in duration-300 animate__animated  animate__infinite animate__pulse animate__slower">Buy Aeona Premium</button>
    </a>
  </div>
</div>
<br>
<br>
<br>
<br>


<h2 class=" text-white">
  What are Aeona Premium features?
</h2>

<ul class="text-2xl">
  <li class="m-5"><b>Custom Commands</b><br> &nbsp; With Aeona Premium you can have UNLIMITED custom Commands! These Commands can be made directly from Aeona's Embed builder.</li>
  <li class="m-5"><b>Server Reports</b><br> &nbsp; Fully Customizable Server Reports with Report Upvotes! </li>
  <li class="m-5"><b>Chat filter</b><br> &nbsp; Aeona comes with a AI based chat filter system </li>
  <li class="m-5"><b>Chat Bot</b><br> &nbsp; Allows you to change the chatbot you are speaking with! </li>
  <li class="m-5"><b>Customizable Suggestions</b><br> &nbsp;You even have the ability to customize the suggestion Embed on your own including the color, description, footer and even reaction!</li>
  <li class="m-5"><b>Server Tickets</b><br> &nbsp; You can add up to 10 different reactions on your customized ticket Embed!</li>
  <li class="m-5"><b>Applications</b><br> &nbsp; The ability to Approve and Decline Applications</li>
  <li class="m-5"><b>Auto Responses</b><br> &nbsp; Set up Unlimited Auto Responses</li>
  <li class="m-5"><b>Polls</b> <br> &nbsp; Created Timed Polls</li>
  <li class="m-5"><b>Alt Detection</b><br> &nbsp; White list over 50 accounts with the alt detector module</li>
</ul>
<div class="flex flex-col items-center justify-center mt-10">
  <a href="https://www.patreon.com/aeonapremium" class="no-prose no-underline link link-hover ">
    <button class="btn btn-secondary ease-in duration-300 animate__animated  animate__infinite animate__pulse animate__slower">Buy Aeona Premium</button>
  </a>
</div>


<%- include("./partials/footer") %>