<%- include("./partials/head", { arc, bot, user, path, description, title: "Aeona - Redeem" , url, image }) %>
<div class="w-full mt-16 text-center">
  <h2 class="text-white">The offer has ended!</h1>
  <a href="/premium" class="text-white">Go to premium page</a>
</div>


</div>
<%- include("./partials/footer") %>