<%- include("partials/head", { bot, arc, user, path, description, title: "Aeona - Team",  url, image }) %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="titlehover">
<h1 style="text-align: center; font-size: 45px ">Meet the Team!</h1>
</div>
<br>
<br>
<br>
<br>

<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<div  style="text-align: center; color: white">
	<div class="team-section">
		<div class="inner-width">
			<div class="pers">
				
				


			</div>
		</div>
	</div>
</div>
<style>
/**
{
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}*/

.team-section
{
	background: #222222;
	text-align: center;
}

.inner-width
{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	color: #333;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe
{
	float: left;
	width: calc(100% / 3);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}

.pe:hover
{
	background: #2f2f2f;
}

.pe img
{
	width:240px;
	height: 240px;
	border-radius: 50%;
}
.pe img:hover
{
transform: scale(0.9); 
border: 5px solid black;
}
.p-name
{
	margin: 5px;
	text-transform: uppercase;
  color: white
}

.p-des
{
	font-style: italic;
  color: #acacb3
}

.p-sm
{
	margin-top: 6px;
  color: white
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
  color: white
}

.p-sm a:hover
{
	transform: scale(1.3);
}

.p-sm a i
{
	color: #333;
	line-height: 30px;
}

@media screen and (max-width: 960px) {
	.pe{
		width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.pe{
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.pe{
		width: 100%;
	}
}
.titlehover{
animation: hover 3s infinite;
} 
@keyframes hover {
  0%   {top: 0px;}
  50%  {top: 80px;}
  100% {top: 0px;}
}
</style>
<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>
