<%- include("./partials/head", { arc, bot, user, path, description, title: "Aeona - Thanks" , url, image }) %>
<div class="mt-15">
  <img src="http://<%= hostname %>/logo.png" class="max-w-xs rounded-full shadow-2xl animate__animated  animate__infinite animate__pulse animate__slow mx-auto" />
  <div class="text-center">
    <h1 class="text-5xl font-bold text-white transition  ease-in duration-300 ">Thanks for inviting Aeona</h1>

    <h2 class="py-6 text-white transition   ease-in duration-300">It Means a lot to Us!<br>Need help?</h2>

    <br>
    <a href="/support" class="no-prose no-underline link link-hover ">
      <button class="btn btn-secondary ease-in duration-300 animate__animated  animate__infinite animate__pulse animate__slower">Join our support server!</button>
    </a>
  </div>
</div>

<%- include("./partials/footer") %>